<p class="mat-h2">请选择课程</p>
<div>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="cno">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 课程号 </th>
      <td mat-cell *matCellDef="let element"> {{element.cno}} </td>
    </ng-container>
    <ng-container matColumnDef="cname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 课程名 </th>
      <td mat-cell *matCellDef="let element"> {{element.cname}} </td>
    </ng-container>
    <ng-container matColumnDef="cdept">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 院系 </th>
      <td mat-cell *matCellDef="let element"> {{element.cdept}} </td>
    </ng-container>
    <ng-container matColumnDef="credit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 学分 </th>
      <td mat-cell *matCellDef="let element"> {{element.credit}} </td>
    </ng-container>
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> 操作 </th>
      <td mat-cell *matCellDef="let element">
        <button mat-stroked-button (click)="gotoDetail(element.cno)">进入</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[20, 5, 10, 50]" showFirstLastButtons></mat-paginator>
</div>
